<mat-card class="holday-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title
      >{{ holidayInfo?.name }} ({{ holidayInfo?.localName }})</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <p>{{ holidayInfo?.date }}</p>
    <p></p>
  </mat-card-content>
  <mat-card-footer class="holday-card__footer">
    <mat-chip-set>
      @for (type of holidayInfo?.types; track $index) {
      <mat-chip>{{ type }}</mat-chip>
      }
    </mat-chip-set>
  </mat-card-footer>
</mat-card>
